@media screen and (max-width: 1024px){
    header nav .itens-menu1{
        width: 60%;
    }
    .sec-info-capi h1{
        width: 90%;
        font-size: 28px;
    }

    /* Formatação página blog */
    .sec-1 .cx-sec-1 .titulo-da-sec{
        height: auto;
        padding: 20px 0px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo{
        grid-template-columns: 1fr 1fr;
    }

    /*Formatação da página do artigo */
    .sec-artigo .cx-artigo{
        width: 90%;
    }

    /*Formatação da pagina dos grupos */
    .sec-2{
        position: unset;
        height: auto;
        margin-bottom: 60px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2{
        height: auto;
        padding: 20px 0px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo{
        width: 80%;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    /*Formatação da pagina dos artigos publicados */
    .sec-publi .cx-publi{
        width: 90%;
    }
    .sec-publi .cx-publi .publi .info-publi a{
        font-size: 22px;
    }
    .sec-publi .cx-publi .publi .info-publi p{
        font-size: 18px;
    }
}