@media screen and (max-width: 1440px){
    /* Chamada principal */
    header nav .itens-menu1{
        width: 40%;
    }

    /* Chamada principal */
    header .chamada-principal h2{
        font-size: 28px;
    }
    header .chamada-principal p{
        font-size: 22px;
    }
    .sec-info-capi{
        margin: 100px auto 60px;
    }
    .sec-info-capi h1{
        width: 90%;
        font-size: 28px;
    }

    /* Página do blog */
    .sec-1{
        height: auto;
        margin: 100px auto 60px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec{
        height: auto;
        padding: 20px 0px;
    }

    /*Página do artigo */
    .sec-artigo{
        margin: 100px auto 60px;
    }
    .sec-artigo .cx-artigo{
        width: 50%;
    }

    /*Pagina dos grupos */
    .sec-2{
        position: unset;
        height: auto;
        margin: 100px auto 60px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2{
        height: auto;
        padding: 20px 0px;
    }

    /*Página dos artigos publicados */
    .sec-publi{
        margin: 100px auto 60px;
    }
    .sec-publi .cx-publi{
        width: 60%;
    }
    .sec-publi .cx-publi .publi .info-publi a{
        font-size: 22px;
    }
    .sec-publi .cx-publi .publi .info-publi p{
        font-size: 18px;
    }
}


@media screen and (min-width: 1440px){
    body{
        max-width: 1440px;
        margin: 0 auto;
    }
    /* Chamada principal */
    header nav .itens-menu1{
        width: 40%;
    }

    /* Chamada principal */
    header .chamada-principal h2{
        font-size: 28px;
    }
    header .chamada-principal p{
        font-size: 22px;
    }
    .sec-info-capi{
        margin: 100px auto 60px;
    }
    .sec-info-capi h1{
        width: 90%;
        font-size: 28px;
    }

    /* Página do blog */
    .sec-1{
        height: auto;
        margin: 100px auto 60px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec{
        height: auto;
        padding: 20px 0px;
    }

    /*Página do artigo */
    .sec-artigo{
        margin: 100px auto 60px;
    }
    .sec-artigo .cx-artigo{
        width: 50%;
    }

    /*Pagina dos grupos */
    .sec-2{
        position: unset;
        height: auto;
        margin: 100px auto 60px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2{
        height: auto;
        padding: 20px 0px;
    }

    /*Página dos artigos publicados */
    .sec-publi{
        margin: 100px auto 60px;
    }
    .sec-publi .cx-publi{
        width: 60%;
    }
    .sec-publi .cx-publi .publi .info-publi a{
        font-size: 22px;
    }
    .sec-publi .cx-publi .publi .info-publi p{
        font-size: 18px;
    }
}