@media screen and (min-width: 1440px){
    /* ========================
    Tela inicial/boas vindas 
    ===========================*/    
    header{
        height: auto;
    }
    header nav{
        display: flex;
        margin-top: 30px;
    }
    header nav .itens-menu1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin: 0 auto auto auto;
    }
    header nav .itens-menu1 a{
        text-decoration: none;
        color: #000000;
        text-align: center;
        width: 90px;
        height: 90px;
        padding: 0% 0% 0% 0%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cd0000;
    }
    header nav .itens-menu1 a:hover{
        background-color: #ffd800;
        box-shadow: 2px 2px 5px #cd0000;
        transition: box-shadow .3s;
    }
    header nav .itens-menu1 a:not(:last-child){
        margin-right: 0px;
    }
    header nav .itens-menu1 a img{
        width: 55%;
        filter:brightness(100%);
    }
    header nav .itens-menu1 a p{
        display: none;
    }
    header .cx-boasvindas{
        width: 100%;
        height: 680px;
        margin: 3% auto 0% 0%;
        background-image: url(../assets/f01.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    header .chamada-principal{
        width: 90%;
        margin: 40px auto 0px;
        color: #cd0000;
    }
    header .chamada-principal h2{
        text-align: center;
        font-size: 33px;
        letter-spacing: -1px;
        font-weight: 900;
    }
    header .chamada-principal p{
        text-align: center;
        font-weight: 300;
    }

    /*======================================
    Banner/Slide
    ========================================*/
    

    /*======================================
    Informações do capitalismo no brasil
    ========================================*/
    .sec-info-capi{
        margin: 60px auto 60px;
    }
    .sec-info-capi h1{
        display: block;
        width: 50%;
        margin: 0 auto;
        border-radius: 15px;
        text-align: center;
        font-size: 28px;
        color: #ecf0f1;
        padding: 20px 10px;
        background-color: #cd0000;
    }
    .sec-info-capi .info-capi{
        width: 90%;
        margin: 40px auto 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }
    .sec-info-capi .info-capi .info-item{
        border: solid 1px #cd0000;
        padding: 10px;
        border-radius: 20px;
    }
    .sec-info-capi .info-capi .info-item hr{
        color: #cd0000;
        margin: 10px 0px;
    }
    .sec-info-capi .info-capi .info-item .cx-span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .sec-info-capi .info-capi .info-item .cx-span span{
        font-size: 90px;
        color: #ecf0f1;
        background-color: #cd0000;
        border-radius: 100%;
        padding: 10px;
    }
    .sec-info-capi .info-capi .info-item #descri{
        text-align: center;
        font-weight: 300;
        font-size: 18px;
    }
    .sec-info-capi .info-capi .info-item #num{
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 24px;
        color: #cd0000;
    }

    /*========================
    Footer
    ==========================*/
    .footer{
        border-top: solid 5px #ff0000;
        background-color: #cd0000;
        height: auto;
    }
    .footer .cx-footer{
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding: 50px 0px;
        flex-wrap: nowrap;
    }
    .footer .cx-footer .item-footer{
        width: 33%;
        padding: 0px 10px;
    }
    .footer .cx-footer .item-footer:nth-child(1){
        text-align: right;
    }
    .footer .cx-footer .item-footer:nth-child(2){
        text-align: center;
    }
    .footer .cx-footer .item-footer h3{
        font-size: 20px;
        color: #ecf0f1;
    }
    .footer .cx-footer .item-footer a{
        font-size: 18px;
        display: block;
        text-decoration: none;
        color: #ecf0f1;
    }
    .footer .cx-footer .item-footer p{
        font-size: 18px;
        color: #ecf0f1;
    }
    
    .footer .cx-footer .item-footer .cx-contato{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .cx-footer .item-footer .cx-contato a{
        display: flex;
        height: 35px;
        width: auto;
        justify-content: center;
    }
    .footer .cx-footer .item-footer .cx-contato a img{
        width: 100%;
        margin: 10px 10px 0px;
    }
    
    /* ========================
    Página do blog 
    ===========================*/
    .sec-1{
        height: auto;
        background-image: linear-gradient(45deg, #ecf0f1, transparent, transparent);
        margin: 40px auto 60px;
    }
    .sec-1 .cx-sec-1{
        height: auto;
        width: 100%;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec{
        background-color: #cd0000;
        height: auto;
        padding: 20px 0px;
        display: flex;
        justify-content: center;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ecf0f1;
        border-radius: 100%;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec p{
        font-weight: 900;
        color: #cd0000;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec{
        color: #ecf0f1;
        margin-left: 20px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        width: 90%;
        margin: 60px auto;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art{
        display: flex;
        width: 100%;
        height: 200px;
        margin-right: 30px;
        border: solid 1px #cd0000;
        padding: 10px;
        border-radius: 13px;
        text-decoration: none;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art:hover{
        box-shadow: 2px 2px 8px #cd000052;
        background-color: #ffffff;
        transition: background-color .3s;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .img-art{
        width: 40%;
        height: 100%;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .img-art img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 13px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art{
        width: 60%;
        margin-left: 15px;
        overflow: hidden;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art h2{
        font-weight: 900;
        font-size: 24px;
        color: #cd0000;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art p{
        font-weight: normal;
        font-size: 20px;
        color: #cd0000;
    }

    /*===================
    Página do artigo
    =====================*/
    .sec-artigo{
        margin: 60px auto 60px;
    }
    .sec-artigo .cx-artigo{
        width: 50%;
        margin: 0 auto;
    }
    .sec-artigo .cx-artigo article figure{
        width: 100%;
        height: 340px;
    }
    .sec-artigo .cx-artigo article figure img{
        width: 100%;
        height: 340px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
    .sec-artigo .cx-artigo article h1{
        background-color: #cd0000;
        color: #ecf0f1;
        display: block;
        position: relative;
        width: 90%;
        margin: -2% auto 7%;
        text-align: center;
        padding: 10px;
    }
    .sec-artigo .cx-artigo article p{
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 24px;
    }
    .sec-artigo .cx-artigo article hr{
        margin: 50px 0px 10px 0px;
    }
    .sec-artigo .cx-artigo article .roda-pe{
        font-size: 16px;
        text-decoration: none;
        display: inline;
    }
    .sec-artigo .cx-artigo .face-coment{
        width: 100%;
        border: solid 1px #cd0000;
        border-radius: 10px;
        padding: 10px;
        margin: 30px auto 0px;
    }
    .sec-artigo .cx-artigo .face-coment h3{
        font-size: 20px;
        letter-spacing: -1px;
        font-weight: 800;
    }
    
    /*========================
    Página dos grupos
    ==========================*/
    .sec-2{
        height: auto;
        background-color: #ecf0f1;
        margin: 60px auto 60px;
    }
    .sec-2 .cx-sec-2{
        height: auto;
        width: 100%;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2{
        background-color: #cd0000;
        height: auto;
        padding: 20px 0px;
        display: flex;
        justify-content: center;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ecf0f1;
        border-radius: 100%;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2 p{
        font-weight: 900;
        color: #cd0000;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2{
        color: #ecf0f1;
        margin-left: 20px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2 h1{
        font-size: 28px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo{
        width: 90%;
        margin: 60px auto 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo{
        display: flex;
        align-items: center;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .img-grupo{
        width: 30%;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .img-grupo img{
        width: 100%;
        border-radius: 100%;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo{
        width: 70%;
        padding-left: 20px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo h2{
        font-weight: 900;
        color: #cd0000;
        font-size: 28px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo p{
        font-size: 22px;
        color: #cd0000;
        margin: 10px 0px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo h3{
        color: #cd0000;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 22px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo a{
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        color: #ecf0f1;
        display: inline-block;
        margin: 10px 0px 0px;
        background-color: #cd0000;
        border: solid 1px #cd0000;
        padding: 5px 15px;
        border-radius: 10px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo a:hover{
        background-color: #ffd800;
        color: #cd0000;
        border: none;
        box-shadow: 2px 2px 8px #cd0000;
    }
    
    /*============================
    Pagina dos artigos publicados
    ==============================*/
    .sec-publi{
        margin: 60px auto 60px;
    }
    .sec-publi .cx-publi{
        width: 50%;
        margin: 0 auto;
        border: solid 1px #cd0000;
        border-radius: 10px;
        padding: 20px;
    }
    .sec-publi .cx-publi .publi{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0px 0px 40px 0px;
    }
    .sec-publi .cx-publi .publi .icon-pdf{
        width: 8%;
    }
    .sec-publi .cx-publi .publi .icon-pdf img{
        width: 100%;
    }
    .sec-publi .cx-publi .publi .info-publi{
        width: 95%;
        padding-left: 20px;
    }
    .sec-publi .cx-publi .publi .info-publi a{
        font-size: 26px;
        font-weight: 900;
        text-decoration: none;
        color: #000000;
    }
    .sec-publi .cx-publi .publi .info-publi a:hover{
        color: #cd0000;
    }
    .sec-publi .cx-publi .publi .info-publi p{
        font-size: 20px;
    }
}