@media screen and (max-width:320px){
    header{
        height: auto;
    }
    header nav .itens-menu1{
        width: 90%;
        margin: 0 auto auto auto;
    }
    header nav .itens-menu1 a{
        width: 70px;
        height: 70px;
    }
    header .cx-boasvindas{
        width: 100%;
        height: 540px;
        margin: 5% auto auto auto;
    }
    header .chamada-principal{
        width: 90%;
        margin: 40px auto 0px;
        color: #cd0000;
    }
    .sec-info-capi{
        margin: 40px auto 60px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec{
        height: auto;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec{
        width: 80px;
        height: 80px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec p{
        font-size: 22px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec h1{
        font-size: 26px;
    }
    .sec-artigo{
        margin: 50px auto 50px;
    }
}