@media screen and (max-width:768px){
    header nav .itens-menu1{
        width: 70%;
    }
    .sec-info-capi h1{
        width: 90%;
        font-size: 24px;
    }
    header .chamada-principal h2{
        font-size: 26px;
    }
    header .chamada-principal p{
        font-size: 18px;
    }
    .sec-info-capi .info-capi{
        grid-template-columns: 1fr 1fr;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec{
        height: 160px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec{
        width: 80px;
        height: 80px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec h1{
        font-size: 28px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec p{
        font-size: 22px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo{
        grid-template-columns: 1fr 1fr;
    }
    /*Formatação da pagina dos grupos */
    .sec-2{
        height: auto;
        margin-bottom: 60px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2{
        height: 160px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2{
        width: 80px;
        height: 80px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2 p{
        font-size: 22px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2 h1{
        font-size: 28px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2 p{
        font-size: 22px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo{
        width: 90%;
        margin: 60px auto 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
    }
}