/* Configuração para telas de até 768px */

@media screen and (max-width:768px){

/* Página inicial */

    header{
        height: auto;
    }
    header nav .itens-menu1{
        width: 90%;
    }
    header .chamada-principal{
        margin: 40px auto 40px;
    }
    .sec-info-capi h1{
        font-size: 22px;
        padding: 20px 5%;
        width: 90%;
    }
    .sec-info-capi .info-capi{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

/* Página do blog */

    .sec-1 .cx-sec-1 .sec-1-conteudo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    header nav{
        height: auto;
    }
    header nav .itens-menu1{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    header nav .itens-menu1 a{
        height: 70px;
        width: 70px;
        margin-bottom: 20px;
    }
    header nav .itens-menu1 a:not(:last-child){
        margin-right: 0px;
        border-right: none;
    }


    
    
    header .cx-boasvindas{
        margin: 30px auto 0px;
        height: 55%;
        background-attachment: scroll;
        background-position: center;
    }
    header .cx-boasvindas #eniteessc .cont-banner h1{
        font-size: 40px;
    }
    header .cx-boasvindas #eniteessc .cont-banner p{
        font-weight: 300;
        font-size: 20px;
    }

    header .chamada-principal{
        margin-top: 40px;
    }

    header .chamada-principal h2{
        font-size: 28px;
    }
    header .chamada-principal p{
        font-size: 20px;
    }



    .sec-1 .cx-sec-1 .titulo-da-sec{
        height: auto;
        padding: 20px 0px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec{
        width: 70px;
        height: 70px;
        padding: 5px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec h1{
        font-size: 23px;
    }
    .sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec p{
        font-size: 20px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo{
        display: block;
        margin-top: 100px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art{
        display: block;
        margin-bottom: 80px;
        height: 240px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .img-art{
        border-radius: 20px;
        width: 80%;
        height: 120px;
        margin: -70px auto 0px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art{
        width: 100%;
        margin: 10px 0px 0px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art h2{
        text-align: center;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art p{
        text-align: center;
    }
    

    /*Formatação responsiva - página dos grupos*/
    .sec-2{
        position: unset;
        height: auto;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2{
        height: auto;
        padding: 20px 0px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2{
        width: 70px;
        height: 70px;
        padding: 5px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2 h1{
        font-size: 23px;
    }
    .sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2 p{
        font-size: 20px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo{
        display: block;
        width: 100%;
        padding: 0px 15px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo{
        display: block;
        border-bottom: solid 1px #cd0000;
        padding-bottom: 40px;
        margin-top: 40px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .img-grupo{
        width: 50%;
        margin: 0 auto;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo{
        width: 100%;
        padding-left: unset;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo h2{
        font-size: 22px;
        text-align: center;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo p{
        text-align: center;
        font-size: 20px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo h3{
        text-align: center;
        font-size: 18px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo a{
        display: block;
        width: 50%;
        text-align: center;
        margin: 10px auto 0px;
    }


    


    /*Formatação responsiva - página do artigo*/
    .sec-artigo{
        padding: 0px 15px;
    }
    .sec-artigo .cx-artigo{
        width: 100%;
    }
    .sec-artigo .cx-artigo article h1{
        margin: -10% auto 7%;
        font-size: 26px;
    }
    .sec-artigo .cx-artigo article p{
        font-size: 18px;
    }
    .sec-artigo .cx-artigo article #roda-pe{
        font-size: 14px;
    }



    /*Formatação da pagina dos artigos publicados */
    .sec-publi{
        padding: 15px;
    }
    .sec-publi .cx-publi{
        width: 100%;
        padding: 10px;
    }
    .sec-publi .cx-publi .publi .icon-pdf{
        width: 10%;
    }
    .sec-publi .cx-publi .publi .info-publi{
        width: 90%;
        padding-left: 10px;
    }
    .sec-publi .cx-publi .publi .info-publi a{
        font-size: 18px;
    }
    .sec-publi .cx-publi .publi .info-publi p{
        font-size: 16px;
    }


    /*Formatação seção com informações do capitalismo no brasil */
    .sec-info-capi h1{
        font-size: 22px;
        padding: 20px 5%;
        width: 90%;
    }
    .sec-info-capi .info-capi{
        display: block;
    }
    .sec-info-capi .info-capi .info-item{
        margin-bottom: 30px;
    }


    .footer .cx-footer{
        width: 90%;
        margin: 0 auto;
        display: block;
        padding: 50px 0px;
    }
    .footer .cx-footer .item-footer{
        width: 100%;
        padding: 0px 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer .cx-footer .item-footer:nth-child(1){
        text-align: center;
    }
    .footer .cx-footer .item-footer:nth-child(2){
        text-align: center;
    }
}