@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
    header nav{
        height: auto;
    }
    header nav .itens-menu1{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    header nav .itens-menu1 a{
        height: 70px;
        width: 70px;
        margin-bottom: 20px;
    }
    header nav .itens-menu1 a:not(:last-child){
        margin-right: 0px;
        border-right: none;
    }


    
    
    header .cx-boasvindas{
        margin: 30px auto 0px;
        height: 55%;
    }
    header .cx-boasvindas #eniteessc .cont-banner h1{
        font-size: 40px;
    }
    header .cx-boasvindas #eniteessc .cont-banner p{
        font-weight: 300;
        font-size: 20px;
    }

    header .chamada-principal{
        margin-top: 40px;
    }

    header .chamada-principal h2{
        font-size: 28px;
    }
    header .chamada-principal p{
        font-size: 20px;
    }


    .sec-1{
        height: auto;
        background-color: #fcfbc7;
        margin: 0px 0px 0px 0px;
    }
    .sec-1 .cx-sec-1{
        display: block;
        height: auto;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo{
        display: block;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog{
        width: 100%;
        margin-right: 0px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog h1{
        color: #ff0000;
        font-size: 25px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog figure{
        height: 300px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog figure img{
        height: 300px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog p{
        font-size: 20px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog{
        width: 100%;
        margin-left: 0px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog h2{
        font-size: 25px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto{
        height: 90px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto .out-texto h3{
        font-size: 18px;
    }
    .sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto .out-texto p{
        font-size: 16px;
        display: none;
    }


    .sec-2{
        position: unset;
        height: auto;
        margin-top: 50px;
        padding: 50px 0px 50px 0px;
    }
    .sec-2 .cx-sec-2{
        height: auto;
        display: block;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo{
        display: block;
        padding: 0px 0px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .div-esquerda{
        width: 100%;
        padding-right: 0px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .div-esquerda h2{
        font-size: 25px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .div-esquerda p{
        font-size: 18px;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .div-direita{
        width: 100%;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-grupos{
        margin: 0 auto;
    }
    .sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-grupos .grupo{
        width: 100%;
        margin: 0 auto 0px;
    }
    #gemesc{
        padding-right: 0px;
        margin-right: 10px;
    }
    #gim{
        padding-left: 0px;
        margin-left: 10px;
    }
    #link-gemesc{
        margin: 5% 5% 0% 18%;
    }
    #link-gim{
        margin: 5% 0% 0% 20%;
    }


    #header-blog{
        height: 200px;
    }
    .sec-1-artigo .cx-artigo article figure{
        height: 300px;
    }
    .sec-1-artigo .cx-artigo article figure img{
        height: 300px;
    }
    .sec-1-artigo .cx-artigo article .cx-titulo{
        width: 90%;
        margin: -90px auto 40px;
        padding: 15px;
    }
    .sec-1-artigo .cx-artigo article .cx-titulo h1{
        font-size: 25px;
    }
    .sec-1-artigo .cx-artigo article p{
        margin-bottom: 16px;
        line-height: 1.5;
        text-align: justify;
        hyphens: auto;
    }
    .sec-1-artigo .cx-artigo article .nota-rodape p{
        font-size: 14px;
    }


    .footer .cx-footer{
        width: 90%;
        margin: 0 auto;
        display: block;
        padding: 50px 0px;
    }
    .footer .cx-footer .item-footer{
        width: 100%;
        padding: 0px 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer .cx-footer .item-footer:nth-child(1){
        text-align: center;
    }
    .footer .cx-footer .item-footer:nth-child(2){
        text-align: center;
    }
}