@media screen and (max-width:600px){
    .cx-menu2{
        display: block;
    }
    .cx-menu2 #menu2 .itens-menu2{
        max-width: 600px;
        padding: 0px 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .cx-menu2 #menu2 .itens-menu2 a{
        margin: 20px 0px 5px;
        width: 120px;
        height: 120px;
        padding-top: 15px;
    }
    .cx-menu2 #menu2 .itens-menu2 a:not(:last-child){
        margin-right: 0px;
    }
    .cx-menu2 #menu2 .itens-menu2 a span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }


    .cx-bemvindo{
        display: block;
        transform: rotate(0deg);
    }
    .cx-bemvindo .destaques{
        transform: rotate(0deg);
        width: 100%;
        margin: 40px 0px;
    }
    .cx-bemvindo .bemvindo{
        transform: rotate(0deg);
        width: 100%;
        padding: 0px;
        margin-bottom: 30px;
    }
    .cx-bemvindo .bemvindo h2{
        font-size: 40px;
        line-height: 1.2;
    }



    .sec-1{
        margin: 0px;
        padding: 40px 0px 40px;
    }
    .sec-1 .sec1-title{
        margin: 0 auto 40px;
    }
    .sec-1 .sec1-title h1{
        font-size: 40px;
    }
    .sec-1 .cx-previa-post{
        display: block;
        transform: rotate(0deg);
    }

    .sec-1 .cx-previa-post a{
        display: block;
        height: auto;
        margin: 0px 0px 40px 0px;
    }

    .sec-1 .cx-previa-post a .post{
        display: block;
        height: auto;

        border: solid 1px rgba(0, 0, 0, 0.1);

    }

    .sec-1 .cx-previa-post a .post .img-post{
        width: 100%;
        height: 50%;
        border-radius: 10px 10px 0px 0px;
    }

    .sec-1 .cx-previa-post a .post .img-post img{
        height: 360px;
        border-radius: 10px 10px 0px 0px;
    }

    .sec-1 .cx-previa-post a .post .txt-post h1{
        font-size: 26px;
    }

    .sec-1 .cx-previa-post a .post .txt-post{
        width: 100%;
        height: 300px;
    }

    .sec-1 .cx-previa-post a .post .txt-post p{
        -webkit-line-clamp: 6;
    }
}

@media screen and (min-width:600px){
    .cx-menu1 nav .itens-menu2{
        display: none;
    }
}