*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ff0000;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: normal;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: normal;
}

p, span, a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: normal;
}

/*Configuração do banner do topo*/
.banner-topo{
    height: 300px;
    width: 100%;
}

/*Configuração do slide*/
.slider{
    margin: 0 auto;
    width: 1900px;
    height: 300px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 300px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 1900px;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 1900px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.manual-navigation{
    position: absolute;
    width: 1900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #ff0000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1900px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fcfbc7;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fcfbc7;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fcfbc7;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fcfbc7;
}


/*Configuração do menu*/
.cx-menu1{
    height: 20px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
}

.cx-menu1 nav{
    display: flex;
    max-width: 1024px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.cx-menu1 nav .itens-menu1{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 10px;
    border-radius: 0px 0px 20px 20px;
    background-color: #ff0000;
}

.cx-menu1 nav .itens-menu1 a{
    text-decoration: none;
    color: #fcfbc7;
    display: block;
}

.cx-menu1 nav .itens-menu1 a span{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cx-menu1 nav .itens-menu1 a p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.cx-menu2{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.cx-menu2 #menu2 .itens-menu2{
    display: flex;
}

.cx-menu2 #menu2 .itens-menu2 a{
    display: block;
    height: 140px;
    width: 140px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff0000;
    background-image: linear-gradient(45deg, #fcfbc7, #ffffff);
    border-radius: 100%;
    text-decoration: none;
    color: red;
    padding-top: 32px;
    box-shadow: -10px 10px 10px 1px rgba(0, 0, 0, 0.1);
}

.cx-menu2 #menu2 .itens-menu2 a:hover{
    box-shadow: 10px -10px 10px 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(45deg, #ffffff, #fcfbc7);
    transition: .4s;
}

.cx-menu2 #menu2 .itens-menu2 a:not(:last-child){
    margin-right: 50px;
}

.cx-menu2 #menu2 .itens-menu2 a span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.cx-menu2 #menu2 .itens-menu2 a p{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}


.cx-bemvindo{
    display: flex;
    background-color: #fcfbc7;
    margin: 100px auto 0px;
    transform: rotate(-1deg);
    padding: 5% 5%;
}

.cx-bemvindo .destaques{
    height: 400px;
    width: 50%;
    border: solid 5px #ff0000;
    border-radius: 20px;
    transform: rotate(1deg);
}
.cx-bemvindo .bemvindo{
    transform: rotate(1deg);
    margin: 0 auto;
    width: 50%;
    padding-left: 40px;
}

.cx-bemvindo .bemvindo h2{
    text-align: left;
    font-size: 50px;
    letter-spacing: -1px;
}

.cx-bemvindo .bemvindo p{
    text-align: left;
    line-height: 1.5;
    margin-top: 10px;
}



/*Configuração geral da seção de prévia de posts*/
.sec-1{
    margin-top: 80px;
    background-color: #ff0000;
    padding: 100px 0px 50px;
}

.sec-1 .sec1-title{
    width: 90%;
    margin: 0 auto 100px;
}

.sec-1 .sec1-title h1{
    font-size: 60px;
    color: #fcfbc7;
}

.sec-1 .cx-previa-post{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background-color: #ff0000;
    transform: rotate(3deg);
}

.sec-1 .cx-previa-post a{
    text-decoration: none;
    color: #000000;
    display: block;
    margin: 0px 40px 80px 40px;
    flex-basis: 777px;
}

.sec-1 .cx-previa-post a .post{
    display: flex;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 15px 15px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.sec-1 .cx-previa-post a .post .img-post{
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

.sec-1 .cx-previa-post a .post .img-post img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0px 0px 10px;
}

.sec-1 .cx-previa-post a .post .img-post img:hover{
    transform: scale(1.2);
    transition: transform .3s;
}

.sec-1 .cx-previa-post a .post .txt-post{
    width: 50%;
    height: 100%;
    padding: 10px 0px 0px 20px;
}

.sec-1 .cx-previa-post a .post .txt-post p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}





.sec-2{
    height: 100vh;
}






footer{
    height: 200px;
    background-color: red;
}






/*Configuração da página de post - singlepost*/
.sec-singlepost{
    margin-top: 80px;
}

.sec-singlepost .cx-singlepost{
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}
.sec-singlepost .cx-singlepost article{
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 15px 15px 15px -3px rgba(0,0,0,0.1);
}
.sec-singlepost .cx-singlepost article .img-singlepost img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
}
.sec-singlepost .cx-singlepost article .txt-singlepost{
    padding: 50px 30px 30px;
}
.sec-singlepost .cx-singlepost article .txt-singlepost p{
    margin-top: 30px;
    line-height: 1.5;
}