*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ecf0f1;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: normal;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: normal;
}

p, span, a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: normal;
}



/*Configuração do slide
.slider{
    margin: 0 auto auto auto;;
    width: 1024px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 1024px;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 1024px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.manual-navigation{
    position: absolute;
    width: 1024px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation auto auto auto div{
    border: 2px solid #ff0000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation auto auto auto{
    position: absolute;
    width: 1024px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation auto auto auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation auto auto auto  auto auto auto-btn1{
    background-color: #fcfbc7;
}

#radio2:checked ~ .navigation auto auto auto  auto auto auto-btn2{
    background-color: #fcfbc7;
}

#radio3:checked ~ .navigation auto auto auto  auto auto auto-btn3{
    background-color: #fcfbc7;
}

#radio4:checked ~ .navigation auto auto auto  auto auto auto-btn4{
    background-color: #fcfbc7;
}
*/


/*Configuração da tela inicial/boas vindas*/

header{
    height: 100vh;
}
header nav{
    display: flex;
    margin-top: 30px;
}
header nav .itens-menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 auto auto auto;
}

header nav .itens-menu1 a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 90px;
    height: 90px;
    padding: 0% 0% 0% 0%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #cd0000;
}

header nav .itens-menu1 a:hover{
    background-color: #ffd800;
    box-shadow: 2px 2px 5px #cd0000;
    transition: box-shadow .3s;
}

header nav .itens-menu1 a:not(:last-child){
    margin-right: 0px;
}

header nav .itens-menu1 a img{
    width: 55%;
    filter:brightness(100%);
}

header nav .itens-menu1 a p{
    display: none;
}

header .cx-boasvindas{
    width: 100%;
    height: 540px;
    margin: 5% auto auto auto;
    background-image: url(../assets/imagem-editada.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1px transparent;
}

header .cx-boasvindas #eniteessc{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    align-items: center;
}

header .cx-boasvindas #eniteessc .cont-banner{
    width: 90%;
    margin: 0 auto;
}
header .cx-boasvindas #eniteessc .cont-banner h1{
    text-align: center;
    color: #ecf0f1;
    font-size: 90px;
}
header .cx-boasvindas #eniteessc .cont-banner p{
    text-align: center;
    color: #ecf0f1;
}

header .chamada-principal{
    width: 90%;
    margin: 40px auto 0px;
    color: #cd0000;
}

header .chamada-principal h2{
    text-align: center;
    font-size: 33px;
    letter-spacing: -1px;
    font-weight: 900;
}
header .chamada-principal p{
    text-align: center;
    font-weight: 300;
}



.sec-1{
    height: auto;
    background-image: linear-gradient(45deg, #ecf0f1, transparent, transparent);
    margin-top: 20px;
}

.sec-1 .cx-sec-1{
    height: auto;
    width: 100%;
}

.sec-1 .cx-sec-1 .titulo-da-sec{
    background-color: #cd0000;
    height: 240px;
    display: flex;
    justify-content: center;
}

.sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
    border-radius: 100%;
}

.sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .icone-sec p{
    font-weight: 900;
    color: #cd0000;
}

.sec-1 .cx-sec-1 .titulo-da-sec .cx-cont-title-sec .txt-sec{
    color: #ecf0f1;
    margin-left: 20px;
}

.sec-1 .cx-sec-1 .sec-1-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 90%;
    margin: 60px auto;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art{
    display: flex;
    width: 100%;
    height: 200px;
    margin-right: 30px;
    border: solid 1px #cd0000;
    padding: 10px;
    border-radius: 13px;
    text-decoration: none;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art:hover{
    box-shadow: 2px 2px 8px #cd000052;
    background-color: #ffffff;
    transition: background-color .3s;
}

.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .img-art{
    width: 40%;
    height: 100%;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .img-art img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 13px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art{
    width: 60%;
    margin-left: 15px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art h2{
    font-weight: 900;
    font-size: 24px;
    color: #cd0000;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .previa-art .txt-art p{
    font-weight: normal;
    font-size: 20px;
    color: #cd0000;
}





/*Formatação da pagina dos grupos */
.sec-2{
    position: sticky;
    height: 100vh;
    background-color: #ecf0f1;
}
.sec-2 .cx-sec-2{
    height: auto;
    width: 100%;
}

.sec-2 .cx-sec-2 .titulo-da-sec2{
    background-color: #cd0000;
    height: 240px;
    display: flex;
    justify-content: center;
}

.sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
    border-radius: 100%;
}

.sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .icone-sec2 p{
    font-weight: 900;
    color: #cd0000;
}

.sec-2 .cx-sec-2 .titulo-da-sec2 .cx-cont-title-sec2 .txt-sec2{
    color: #ecf0f1;
    margin-left: 20px;
}

.sec-2 .cx-sec-2 .sec-2-conteudo{
    width: 90%;
    margin: 60px auto 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .grupo{
    display: flex;
    align-items: center;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .img-grupo{
    width: 30%;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .img-grupo img{
    width: 100%;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo{
    width: 70%;
    padding-left: 20px;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo h2{
    font-weight: 900;
    color: #cd0000;
    font-size: 28px;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo p{
    font-size: 22px;
    color: #cd0000;
    margin: 10px 0px;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo h3{
    color: #cd0000;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #ecf0f1;
    display: inline-block;
    margin: 10px 0px 0px;
    background-color: #cd0000;
    border: solid 1px #cd0000;
    padding: 5px 15px;
    border-radius: 10px;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .grupo .txt-grupo a:hover{
    background-color: #ffd800;
    color: #cd0000;
    border: none;
    box-shadow: 2px 2px 8px #cd0000;
}





/*Formatação da página do artigo */
.sec-artigo .cx-artigo{
    width: 50%;
    margin: 0 auto;
}
.sec-artigo .cx-artigo article figure{
    width: 100%;
    height: 340px;
}
.sec-artigo .cx-artigo article figure img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.sec-artigo .cx-artigo article h1{
    background-color: #cd0000;
    color: #ecf0f1;
    display: block;
    position: relative;
    width: 90%;
    margin: -4% auto 7%;
    text-align: center;
    padding: 10px;
}
.sec-artigo .cx-artigo article p{
    margin-bottom: 20px;
    line-height: 1.5;
}
.sec-artigo .cx-artigo article hr{
    margin: 50px 0px 0px 0px;
}
.sec-artigo .cx-artigo article #roda-pe{
    font-size: 18px;
}



/*Formatação da pagina dos artigos publicados */
.sec-publi{
    margin-bottom: 50px;
}
.sec-publi .cx-publi{
    width: 50%;
    margin: 0 auto;
    border: solid 1px #cd0000;
    border-radius: 10px;
    padding: 20px;
}
.sec-publi .cx-publi .publi{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px 0px 40px 0px;
}
.sec-publi .cx-publi .publi .icon-pdf{
    width: 5%;
}
.sec-publi .cx-publi .publi .icon-pdf img{
    width: 100%;
}
.sec-publi .cx-publi .publi .info-publi{
    width: 95%;
    padding-left: 20px;
}
.sec-publi .cx-publi .publi .info-publi a{
    font-size: 26px;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
}
.sec-publi .cx-publi .publi .info-publi a:hover{
    color: #cd0000;
}
.sec-publi .cx-publi .publi .info-publi p{
    font-size: 22px;
}





.footer{
    border-top: solid 5px #ff0000;
    background-color: #cd0000;
    height: auto;
}
.footer .cx-footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
    flex-wrap: nowrap;
}
.footer .cx-footer .item-footer{
    width: 33%;
    padding: 0px 10px;
}
.footer .cx-footer .item-footer:nth-child(1){
    text-align: right;
}
.footer .cx-footer .item-footer:nth-child(2){
    text-align: center;
}
.footer .cx-footer .item-footer h3{
    font-size: 20px;
    color: #ecf0f1;
}
.footer .cx-footer .item-footer a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #ecf0f1;
}
.footer .cx-footer .item-footer p{
    font-size: 18px;
    color: #ecf0f1;
}