*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fcfbc7;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: normal;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: normal;
}

p, span, a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: normal;
}



/*Configuração do slide
.slider{
    margin: 0 auto auto auto;;
    width: 1024px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 1024px;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 1024px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.manual-navigation{
    position: absolute;
    width: 1024px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation auto auto auto div{
    border: 2px solid #ff0000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation auto auto auto{
    position: absolute;
    width: 1024px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation auto auto auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation auto auto auto  auto auto auto-btn1{
    background-color: #fcfbc7;
}

#radio2:checked ~ .navigation auto auto auto  auto auto auto-btn2{
    background-color: #fcfbc7;
}

#radio3:checked ~ .navigation auto auto auto  auto auto auto-btn3{
    background-color: #fcfbc7;
}

#radio4:checked ~ .navigation auto auto auto  auto auto auto-btn4{
    background-color: #fcfbc7;
}
*/


/*Configuração da tela inicial/boas vindas*/

header .banner-video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

header .banner-video video{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

header .banner-video nav{
    position: relative;
    display: flex;
    margin-top: 30px;
}
header .banner-video nav .itens-menu1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    margin: 0 auto auto auto;
}

header .banner-video nav .itens-menu1 a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 120px;
    height: 70px;
    padding: 0% 0% 0% 0%;
}

header .banner-video nav .itens-menu1 a:hover{
    color: #ff0000;
    transition: color .3s;
}

header .banner-video nav .itens-menu1 a:not(:last-child){
    margin-right: 0px;
    border-right: solid 1px #000000;
}

header .banner-video nav .itens-menu1 a span{
    font-size: 40px;
    font-weight: 200;
}

header .banner-video nav .itens-menu1 a p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

header .banner-video .cx-boasvindas{
    width: 100%;
    height: 80vh;
    margin: 2% auto auto auto;
    background-image: url(../assets/noite-sertao.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1px transparent;
}

header .banner-video .cx-boasvindas .txt-boas-vindas{
    width: 90%;
    margin: 0 auto;
}

header .banner-video .cx-boasvindas .txt-boas-vindas .img-boas-v{
    max-width: 100px;
    margin: 60px auto 0px;
}

header .banner-video .cx-boasvindas .txt-boas-vindas .img-boas-v img{
    width: 100%;
}
header .banner-video .cx-boasvindas .txt-boas-vindas h1{
    font-size: 60px;
    color: #fcfbc7;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    text-align: center;
}

header .banner-video .cx-boasvindas .txt-boas-vindas p{
    font-size: 30px;
    letter-spacing: -1px;
    color: #fcfbc7;
    text-align: center;
}

/*
header .banner-video .cx-boasvindas .txt-boas-vindas .cx-mensagem{
    width: 90%;
    margin: 5% auto auto auto;
}

header .banner-video .cx-boasvindas .txt-boas-vindas .cx-mensagem p{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #fcfbc7;
}
*/


.sec-1{
    position: sticky;
    height: 100vh;
    background-color: #fcfbc7;
}
.sec-1 .cx-sec-1{
    height: 100vh;
    width: 100%;
    display: flex;
}

.sec-1 .cx-sec-1 .sec-1-conteudo{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog{
    width: 50%;
    margin-right: 40px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog a{
    text-decoration: none;
    color: unset;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog h1{
    color: #ff0000;
    font-size: 45px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog figure{
    width: 100%;
    height: 400px;
    margin: 30px 0px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog figure img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divEsquerdaBlog #lerMais{
    background-color: #ff0000;
    display: inline-block;
    padding: 8px 15px;
    margin: 30px 0px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fcfbc7;
}

.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog{
    width: 50%;
    margin-left: 40px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog h3{
    color: #ff0000;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0px 25px 0px;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .cx-outros-textos{
    width: 100%;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0px 20px 0px;

    border: solid 1px #ff0000;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto .img-outro-texto{
    width: 25%;
    margin-right: 5%;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto .img-outro-texto img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.sec-1 .cx-sec-1 .sec-1-conteudo .divDireitaBlog .outro-texto .out-texto{
    width: 70%;
}





/*Formatação da seção 2 */
.sec-2{
    position: sticky;
    height: 100vh;
    background-color: #ff0000;
}
.sec-2 .cx-sec-2{
    height: 100vh;
    width: 100%;
    display: flex;
}

.sec-2 .cx-sec-2 .sec-2-conteudo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
    align-items: center;
    justify-content: center;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-esquerda{
    width: 50%;
    padding-right: 100px;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-esquerda h2{
    font-size: 40px;
    font-weight: 900;
    color: #fcfbc7;
}
.sec-2 .cx-sec-2 .sec-2-conteudo .div-esquerda p{
    text-align: justify;
    margin: 25px 0px;
    color: #fcfbc7;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita{
    width: 50%;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-grupos{
    display: flex;
    flex-wrap: nowrap;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-grupos .grupo{
    flex-basis: 50%;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-grupos .grupo img{
    width: 100%;
}

#gemesc{
    padding-right: 25px;
}
#gim{
    padding-left: 25px;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-grupos .grupo a{
    display: inline-block;
    font-size: 15px;
    background-color: #fcfbc7;
    color: #ff0000;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 10px;
}
#link-gemesc{
    margin: 5% 0% 0% 23%;
}
#link-gim{
    margin: 5% 0% 0% 28%;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-outros-grupos{
    margin: 60px 0px;
}

.accordion {
    background-color: #fcfbc7;
    color: #ff0000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 700;
    transition: 0.4s;
    border-radius: 10px 10px 0px 0px;
}
  
.active, .accordion:hover {
    background-color: #fcfbc7;
}
  
.panel {
    padding: 18px;
    display: none;
    background-color: transparent;
    overflow: hidden;
    border: solid 2px #fcfbc7;
    border-radius: 0px 0px 10px 10px;
    margin-top: 10px;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-outros-grupos .panel a{
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 22px;
    border-bottom: solid 1px #fcfbc7;
    margin: 0px 0px 20px 0px;
}

.sec-2 .cx-sec-2 .sec-2-conteudo .div-direita .cx-outros-grupos .panel a:hover{
    color: #fcfbc7;
    font-weight: 500;
}



/*Formatação da seção 1 artigo */
.sec-1-artigo{
    width: auto;
    height: auto;
    margin: 50px 0px;
}
.sec-1-artigo .cx-artigo{
    width: 90%;
    margin: 0 auto;
}
.sec-1-artigo .cx-artigo article{
    max-width: 618px;
    margin: 0 auto;
}
.sec-1-artigo .cx-artigo article h1{
    color: #ff0000;
    font-size: 45px;
}
.sec-1-artigo .cx-artigo article figure{
    margin: 30px 0px;
    height: 300px;
}
.sec-1-artigo .cx-artigo article figure img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.sec-1-artigo .cx-artigo article p{
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: justify;
}



.footer{
    border-top: solid 5px #ff0000;
    background-color: #fcfbc7;
    height: auto;
}
.footer .cx-footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0px;
    flex-wrap: nowrap;
}
.footer .cx-footer .item-footer{
    width: 33%;
    padding: 0px 10px;
}
.footer .cx-footer .item-footer:nth-child(1){
    text-align: right;
}
.footer .cx-footer .item-footer:nth-child(2){
    text-align: center;
}
.footer .cx-footer .item-footer h3{
    font-size: 20px;
}
.footer .cx-footer .item-footer a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #ff0000;
}
.footer .cx-footer .item-footer p{
    font-size: 18px;
    color: #ff0000;
}