/*--------------------------
Formatação global
---------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*--------------------------
Formatação do cabeçalho e caixa do menu
---------------------------*/
header{
    height: 100vh;
    background-image: url(./profa.png);
    background-size: 120%;
    background-position: bottom;
    background-repeat: no-repeat;
}
header .cx-menu{
    width: 100%;
    background-color: rgba(4, 105, 145, .5);
}
header .cx-menu .menu{
    display: none;
}

/*--------------------------
Formatação do menu dropdawn
---------------------------*/
.dropbtn {
    background-color: rgba(4, 105, 145, .0);
    color: white;
    width: 351px;
    margin: auto;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: 0%;
    background-color: #e4f4ff;
    min-width: 358px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgba(4, 105, 145, .5);
}


/*---------------------------
Formatação da apresentação
-----------------------------*/
header .apresen{
    width: 100%;
}
header .apresen .cont-apresen{
    width: 95%;
    height: 80vh;
    margin: auto;
}
header .apresen .cont-apresen .logo{
    width: 40%;
    margin: 8% auto 0%;
}
header .apresen .cont-apresen .logo img{
    width: 100%;
}
header .apresen .cont-apresen .gradient-back{
    background-image: linear-gradient(90deg, rgb(0, 183, 255), rgb(255, 116, 243));
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
}
header .apresen .cont-apresen .gradient-back h1{
    letter-spacing: -2px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
header .apresen .cont-apresen p{
    text-align: center;
    margin-top: -5px;
}














/*------------------------------------------
FORMATAÇÃO RESPONSIVA PARA TEAS MAIORES
--------------------------------------------*/
@media screen and (min-width:600px){
    body{
    }
    header{
        height: 100vh;
        background-image: url(./profa.png);
        background-size: 54%;
        background-repeat: no-repeat;
        background-position: 123% 30%;
    }
    header .cx-menu{
        display: block;
        background-color: rgba(4, 105, 145, .5);
        height: auto;
    }
    header .cx-menu .dropdown{
        display: none;
    }
    header .cx-menu .menu{
        display: block;
        max-width: 410px;
        margin: auto;
    }
    header .cx-menu .menu a{
        display: inline-block;
        padding: 15px 15px;
        text-decoration: none;
        color: #ffffff;
    }
    header .cx-menu .menu a:hover{
        background-color: #0000009c;
    }
    header .apresen .cont-apresen{
        width: 40%;
        height: auto;
        margin: 10% 0% 0% 12%;
    }
    header .apresen .cont-apresen .logo{
        max-width: 200px;
        margin: auto;
    }
    header .apresen .cont-apresen .logo img{
        width: 100%;
    }
    header .apresen .cont-apresen .gradient-back{
        background-image: linear-gradient(90deg, rgb(0, 183, 255), rgb(255, 116, 243));
        width: fit-content;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: auto;
    }
    header .apresen .cont-apresen .gradient-back h1{
        letter-spacing: -4px;
        font-weight: bolder;
        font-size: 90px;
        text-align: center;
    }
    header .apresen .cont-apresen p{
        text-align: center;
        margin-top: -20px;
    }
}