@media screen and (min-width:600px){
    header .cx-menu .menu-p{
        display: none;
    }

    .voltar-inicio{
        display: none;
    }

    .apresentacao-mobile{
        display: none;
    }
}

@media screen and (max-width:601px){
    .apresentacao{
        display: none;
    }
    header .cx-menu .menu-g{
        display: none;
    }

    .apresentacao-mobile{
        height: 100vh;
        width: auto;
        padding: 0px 10px;
        margin: auto;
    }

    .apresentacao-mobile .cx-alerta-news{
        width: auto;
        height: auto;
        margin: 20px auto 0px;
    }

    .apresentacao-mobile .cx-alerta-news .news{
        width: 90%;
        height: auto;
        border-radius: 10px 10px 10px 10px;
        padding-bottom: 10px;
    }

    .apresentacao-mobile .cx-alerta-news .news p{
        font-size: 18px;
    }

    .apresentacao-mobile .cx-alerta-news .news a{
        font-size: 20px;
        margin: 5px 0px;
        font-weight: 700;
        text-align: center;
    }


    /* Formatação para a página blog mobile */

    .sec-blog .cx-artigo .artigo{
        width: 100%;
    }

    .sec-blog .cx-artigo .artigo h1{
        font-size: 30px;
    }

    .sec-blog .cx-artigo .artigo p{
        font-size: 20px;
    }
}