*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    height: 100vh;
    width: auto;
    
}

@media screen and (min-width:600px){
    header{
        height: 100vh;
    }
}

header .cx_fot_des{
    border-top: solid 1px #000000;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./eubusto.png);
    background-position: -60px 32px;
    background-size: 197%;
    background-repeat: no-repeat;
}
@media screen and (min-width:600px){
    header .cx_fot_des{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0%;
    }
}

header .cx_fot_des .foto{
    height: 100vh;
    border-top: solid 1px transparent;
    background-image:linear-gradient(180deg, rgb(4, 105, 145), rgba(255, 255, 255, 0.212), rgb(4, 105, 145) );
}



header .cx_fot_des .foto .apresen{
    width: 90%;
    margin: 10px auto 0px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #00000083;
}
@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen{
        width: 65%;
        margin: 2% 0% 0% 30%;
        padding: 10px 10px 10px 10px;
        background-color: #000616;
    }
}

header .cx_fot_des .foto .apresen h1{
    text-align: center;
    border-radius: 100px;
    color: #ffffff;
    letter-spacing: -2px;
}
header .cx_fot_des .foto .apresen #pid{
    color: #ffffff;
    text-align: center;
    padding: 0px;
}
header .cx_fot_des .foto .apresen #pid::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 8%;
    background-color: #ffffff;
}

@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen h1{
        background-color: unset;
        color: #ffffff;
        font-size: 50px;
        text-align: center;
    }

    header .cx_fot_des .foto .apresen #pid{
        color: #ffffff;
        text-align: center;
        font-size: 24px;
        font-weight: 200;
        letter-spacing: -1px;
        padding: 0% 0% 3% 0%;
    }
    header .cx_fot_des .foto .apresen #pid::after{
        margin-top: 2%;
    }
}


/* Formatação da área de redes sociais */

header .cx_fot_des .foto .apresen .cont-redes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen .cont-redes{
        display: flex;
        width: auto;
        padding-top: 0px;
        margin-top: 0px;
    }
}

header .cx_fot_des .foto .apresen .cont-redes .rede{
    display: flex;
    flex-basis: 150px;
    align-items: center;
    margin: 10px 0px 0px 0px;
}
header .cx_fot_des .foto .apresen .cont-redes .rede a{
    text-decoration: none;
}
header .cx_fot_des .foto .apresen .cont-redes .rede p{
    color: #ffffff;
    font-size: 20px;
}
@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen .cont-redes .rede{
        display: flex;
        flex-basis: 170px;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 10px 10px;
        background-color: rgba(0, 238, 255, 0.288);
    }
    header .cx_fot_des .foto .apresen .cont-redes .rede:hover{
        background-color: rgb(23, 59, 59);
        color: black;
        transition: background-color .5s;
    }
    header .cx_fot_des .foto .apresen .cont-redes .rede p{
        color: #ffffff;
    }
}

header .cx_fot_des .foto .apresen .cont-redes .rede img{
    width: 38%;
    margin-right: 10px;
}


/* Formatação da área de cursos */

header .cx_fot_des .foto .apresen .cont-cursos{
    padding: 0;
    margin: 5px 0px;
}

header .cx_fot_des .foto .apresen .cont-cursos a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

@media screen and (min-width:600px){
    
    header .cx_fot_des .foto .apresen .cont-cursos{
        border: solid 1px #ffffff;
        border-radius: 0px 0px 30px 30px;
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 0px 0px;
    }

    header .cx_fot_des .foto .apresen .cont-cursos a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }
    header .cx_fot_des .foto .apresen .cont-cursos a:hover{
        color: orange;
    }

}

header .cx_fot_des .foto .apresen .cont-cursos h2{
    color: #ffffff;
    text-align: center;
}
header .cx_fot_des .foto .apresen .cont-cursos p{
    color: #ffffff;
    text-align: center;
}

header .cx_fot_des .foto .apresen .cont-cursos .cursos{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen .cont-cursos .cursos{
        display: ;
    }

    header .cx_fot_des .foto .apresen .cont-cursos .cursos{
        display: flex;
        flex-wrap: nowrap;
    }
}

header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso{
    flex-basis: 146px;
    margin: 3px;
}
header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso img{
    width: 100%;
}

@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso{
        margin: 20px 8px 10px 0px;
        width: 100%;
        flex-basis: 285px;
    }

    header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso img{
        width: 100%;
    }
}

header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso .img-curso{
    width: 50px;
    height: 50px;
}

@media screen and (min-width:600px){
    header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso .img-curso{
        width: 100%;
    }
}

header .cx_fot_des .foto .apresen .cont-cursos .cursos .curso p{
    font-weight: 700;
    margin-left: 10px;
    text-align: left;
}