/* Global stile */
*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}


.cx-menu{
    background-color: #deb887;
    height: 50px;
}

.cx-menu .menu-g{
    max-width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-g .logo-descreve a{
    font-weight: 900;
    font-size: 23px;
    text-decoration: none;
    color: #ffffff;
}

.cx-menu .menu-g .menu-intens{
    height: 100%;
    display: flex;
    align-items: center;
}

.cx-menu .menu-g .menu-intens a{
    margin: 0px 0px;
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.cx-menu .menu-g .menu-intens a:hover{
    background-color: rgba(0, 0, 0, .1);
    transition: background-color .3s;
}

.apresentacao-mobile{
    height: 93vh;
    background-image: url(./cactus.png);
    background-size: cover;
    background-position: bottom;
}

.apresentacao-mobile .cx-alerta-news{
    max-width: 500px;
    height: 400px;
    margin: 40px auto 0px;
}

.apresentacao-mobile .cx-alerta-news .alerta-news{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px #deb887;

    border: solid 1px #deb887;
}

.apresentacao-mobile .cx-alerta-news .alerta-news img{
    width: 100%;
}

.apresentacao-mobile .cx-alerta-news .news{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
    margin: -50px auto 0px;
    padding: 65px 0px 0px;

    border: solid 1px #deb887;
}

.apresentacao-mobile .cx-alerta-news .news a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    background-color: #deb887;
    text-align: center;
    font-weight: 300;
}

.apresentacao-mobile .cx-alerta-news .news a:hover{
    background-color: rgba(222, 184, 135, .8);
    color: #000000;
}


.apresentacao{
    height: 93vh;
    background-image: url(./cactus.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
}
.apresentacao .texto-apresenta{
    width: 60%;
    margin: 50px auto 0px;
}
.apresentacao .texto-apresenta h1{
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #deb887;
    font-weight: 900;
}
.apresentacao .texto-apresenta p{
    text-align: center;
    font-weight: 300;
    margin: 10px 0px;
}
.apresentacao .texto-apresenta #informe{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
}
.apresentacao .texto-apresenta .cx-esfera{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
}
.apresentacao .texto-apresenta .cx-esfera .esfera{
    margin: 30px 10px 0px;
    height: 50px;
    width: 140px;
    background-color: #deb887;
}



/* Formatação da página de blog */
.sec-blog .cx-artigo{
    width: 93%;
    margin: 0 auto;
}

.sec-blog .cx-artigo .mapa-site{
    text-align: center;
    font-weight: 300;
    margin: 40px 0px;
}

.sec-blog .cx-artigo .artigo{
    width: 618px;
    margin: 40px auto 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #deb887;
}

.sec-blog .cx-artigo .artigo h1{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
}

.sec-blog .cx-artigo .artigo h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    margin: 10px 0px;
    background-color: #deb887;
}

.sec-blog .cx-artigo .artigo .data-post{
    font-weight: 300;
    font-size: 12px;
    padding: 4px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.sec-blog .cx-artigo .artigo img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    margin: 30px 0px 0px;
}

.sec-blog .cx-artigo .artigo .credito-imagem{
    font-weight: 300;
    font-size: 10px;
    margin: 0px 0px 30px;
}

.sec-blog .cx-artigo .artigo p{
    margin: 30px 0px 0px 0px;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.5;
}

.sec-blog .cx-artigo .artigo #more1{
    display: none;
}

.sec-blog .cx-artigo .artigo button{
    padding: 3px 15px;
    margin: 10px 0px 0px;
    background-color: #deb887;
    border: none;
}