/* Global stile */
*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}


.cx-menu .menu-p{
    display: flex;
    justify-content: center;
}
.cx-menu .menu-p .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 900, 'GRAD' 0, 'opsz' 48;
  font-size: 30px;
  font-weight: 900;
  padding: 8px 0px 0px 0px;
  background-color: transparent;
}


.cx-menu{
    background-color: #deb887;
    height: 50px;
}

.cx-menu .menu-g{
    max-width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-g .logo-descreve a{
    font-weight: 900;
    font-size: 23px;
    text-decoration: none;
    color: #ffffff;
}

.cx-menu .menu-g .menu-intens{
    height: 100%;
    display: flex;
    align-items: center;
}

.cx-menu .menu-g .menu-intens a{
    margin: 0px 0px;
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.cx-menu .menu-g .menu-intens a:hover{
    background-color: rgba(0, 0, 0, .1);
    transition: background-color .3s;
}

.apresentacao-mobile{
    background-size: cover;
    background-position: bottom;
}

.apresentacao-mobile .cx-alerta-news{
    max-width: 500px;
    height: 400px;
    margin: 40px auto 0px;
}

.apresentacao-mobile .cx-alerta-news .alerta-news{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px #deb887;

    border: solid 1px #deb887;
}

.apresentacao-mobile .cx-alerta-news .alerta-news img{
    width: 100%;
}

.apresentacao-mobile .cx-alerta-news .news{
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
    margin: -50px auto 0px;
    padding: 65px 0px 0px;

    border-top: solid 1px #deb887;
}

.apresentacao-mobile .cx-alerta-news .news h2{
    text-align: center;
    font-size: 28px;
    color: #deb887;
}

.apresentacao-mobile .cx-alerta-news .news p{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.apresentacao-mobile .cx-alerta-news .news a{
    display: inline;
    text-decoration: none;
    color: #deb887;
    text-align: center;
    font-weight: 300;
}

.apresentacao-mobile .cx-alerta-news .news a:hover{
    background-color: rgba(222, 184, 135, .8);
    color: #000000;
}


.apresentacao{
    background-size: cover;
    background-position: bottom;
    display: flex;
}
.apresentacao .texto-apresenta{
    width: 60%;
    margin: 50px auto 0px;
}
.apresentacao .texto-apresenta h1{
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #deb887;
    font-weight: 900;
}
.apresentacao .texto-apresenta p{
    text-align: center;
    font-weight: 300;
    margin: 10px 0px;
}
.apresentacao .texto-apresenta #informe{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
}
.apresentacao .texto-apresenta .cx-esfera{
    display: flex;
    margin: 0 auto 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.apresentacao .texto-apresenta .cx-esfera .esfera{
    margin: 5px;
    height: 110px;
    width: 110px;
    background-color: #deb887;
    border-radius: 100%;
}
.apresentacao .texto-apresenta .cx-esfera .esfera #img1{
    width: 100%;
    opacity: 0%;

    animation-name: esmaecer;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes esmaecer {
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
}
.apresentacao .texto-apresenta .cx-esfera .esfera #img2{
    width: 100%;
    opacity: 0%;

    animation-name: esmaecer;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 5s;
}
@keyframes esmaecer {
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
}
.apresentacao .texto-apresenta .cx-esfera .esfera #img3{
    width: 100%;
    opacity: 0%;

    animation-name: esmaecer;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 10s;
}
@keyframes esmaecer {
    0%{opacity: 0%;}
    50%{opacity: 100%;}
    100%{opacity: 0%;}
}



/* Formatação da página da pesquisa */
.sec-blog .cx-artigo{
    width: 93%;
    margin: 0 auto;
}

.sec-blog .cx-artigo .mapa-site{
    text-align: center;
    font-weight: 300;
    margin: 40px 0px;
}

.sec-blog .cx-artigo .pesquisa{
    width: 638px;
    margin: 40px auto 40px;
    padding: 20px;
    border: solid 1px #deb887;
    border-radius: 20px;
}

.sec-blog .cx-artigo .pesquisa h1{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
}

.sec-blog .cx-artigo .pesquisa h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    margin: 10px 0px;
    background-color: #deb887;
}

.sec-blog .cx-artigo .pesquisa .data-post{
    font-weight: 300;
    font-size: 12px;
    padding: 4px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.sec-blog .cx-artigo .pesquisa img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    margin: 30px 0px 0px;
}

.sec-blog .cx-artigo .pesquisa .credito-imagem{
    font-weight: 300;
    font-size: 10px;
    margin: 0px 0px 30px;
}

.sec-blog .cx-artigo .pesquisa p{
    margin: 30px 0px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5;
}

.sec-blog .cx-artigo .pesquisa #more1{
    display: none;
}

.sec-blog .cx-artigo .pesquisa button{
    padding: 3px 15px;
    margin: 10px 0px 0px;
    background-color: #deb887;
    border: none;
}



/* Formatação da página de blog */
.sec-blog .cx-artigo{
    width: 93%;
    margin: 0 auto;
}

.sec-blog .cx-artigo .mapa-site{
    text-align: center;
    font-weight: 300;
    margin: 40px 0px;
}

.sec-blog .cx-artigo .artigo{
    width: 638px;
    margin: 40px auto 40px;
    padding: 20px;
    border: solid 1px #deb887;
    border-radius: 20px;
}

.sec-blog .cx-artigo .artigo h1{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
}

.sec-blog .cx-artigo .artigo h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    margin: 10px 0px;
    background-color: #deb887;
}

.sec-blog .cx-artigo .artigo .data-post{
    font-weight: 300;
    font-size: 12px;
    padding: 4px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.sec-blog .cx-artigo .artigo img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    margin: 30px 0px 0px;
}

.sec-blog .cx-artigo .artigo .credito-imagem{
    font-weight: 300;
    font-size: 10px;
    margin: 0px 0px 30px;
}

.sec-blog .cx-artigo .artigo p{
    margin: 30px 0px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5;
}

.sec-blog .cx-artigo .artigo #more1{
    display: none;
}

.sec-blog .cx-artigo .artigo button{
    padding: 3px 15px;
    margin: 10px 0px 0px;
    background-color: #deb887;
    border: none;
}


/* Formatação da página Grupos de Estudo */
.sec-estudo .cx-estudo{
    width: 93%;
    margin: 0 auto;
}

.sec-estudo .cx-estudo .g-estudo{
    width: 618px;
    margin: 40px auto 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f7ddbc;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.sec-estudo .cx-estudo .g-estudo .capa-grupo{
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.sec-estudo .cx-estudo .g-estudo .capa-grupo img{
    width: 100%;
}

.sec-estudo .cx-estudo .g-estudo .descreve-grupo{
    margin: 0px 0px 0px 20px;
}

.sec-estudo .cx-estudo .g-estudo .descreve-grupo h1{
    font-size: 26px;
    font-weight: 900;
}

.sec-estudo .cx-estudo .g-estudo .descreve-grupo p{
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.5;
}

.sec-estudo .cx-estudo .g-estudo .descreve-grupo a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    margin: 10px 0px 0px 0px;
    padding: 5px 10px;
    border: solid 1px black;
    border-radius: 3px;
}
.sec-estudo .cx-estudo .g-estudo .descreve-grupo a:hover{
    background-color: #deb887;
}



footer{
    height: 70px;
    background-color: #deb887;
}
footer .cx-rodape{
    width: 93%;
    margin: 0 auto;
    padding: 20px 0px;
}
footer .cx-rodape p{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}


/* Formatação do botão de voltar ao topo */
#myBtnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: solid 1px #ffffff;
    outline: none;
    background-color: #deb887;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtnTop:hover {
    background-color: #e0a557;
}